*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  text-decoration: none;
  list-style: none
}
.header-container {
  position: relative;
  background-color: #61dafb;
  height: 2.3vh;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;

  .logo-container {
    display: flex;
    width: 20%;

    div {
      width: 50%;

      p {
        margin: 0;
        justify-content: center;
      }
    }

    .logo-text {
      height: fit-content;
    }

    .logo-image {
      flex: 0 0 35%;

      img {
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  //.nav-link {
  //  position: absolute;
  //  top: 5.5px;
  //  right: 55px;
  //  width: 100px;
  //  height: 35px;
  //  font-size: 1.1em;
  //}
  .nav-container {
    display: flex;
    width: 50%;

    .signin-button {
      border: none;
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      top: 5.5px;
      right: 200px;
      width: 100px;
      height: 35px;
      font-size: 1.1em;

      p:hover {
        color: #617A55;
      }

      @media screen and (max-width: 500px) {
        right: 15px;
      }
    }

    .signup-button {
      background-color: #617A55;
      position: absolute;
      border-radius: 30px;
      top: 5.5px;
      right: 55px;
      width: 100px;
      height: 35px;
      font-size: 1.1em;

      &:hover {
        background-color: #468847;
      }

      @media screen and (max-width: 500px) {
        right: 15px;
      }
    }

    .nav {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      li:hover .subnav {
        display: block;
      }

      .subnav {
        display: none;
        min-width: 100px;
        background-color: white;
        position: relative;
        box-shadow: 0 0 10px grey;

        a {
          color: black;
          padding: 0 16px;
        }

        li:hover { /*Subnav hovering*/
          background-color: gray;
          color: black;
        }

        li {
          width: 100%; /*để viền xám đầy cho li của subnav*/
          cursor: pointer;
        }
      }
    }
  }
}

