$background-color: #dde6f1;
$green: #80957c;
$green-hover: #4d6144;

.header-container {
  z-index: 1000;
  position: relative;
  background-color: $background-color;
  height: 7vh;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .nav-link.active {
    color: $green;
  }

  .logo-text,
  .nav-link,
  .nav-logo {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  .logo-container {
    display: flex;
    width: 20%;
    .logo-image {
      flex: 0 0 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  .nav-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    .nav {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        position: relative;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
        height: 100%;
        transition: background-color 0.1s linear;

        &:hover {
          // background-color: #468847;
          .nav-link {
            color: $green-hover;
          }
          .subnav {
            display: block;
          }
        }
        .nav-link {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }
        .subnav {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          box-shadow: 0 0 10px grey;
          line-height: 200%;
          li {
            padding: 0;
            padding-left: 7%;
            background-color: white;
            width: 100%;
            &:hover {
              background-color: #468847;
              .subnav {
                display: flex;
              }
            }
          }
          .nav-link {
            color: black;
            cursor: pointer;
          }
        }
      }
    }
  }
  .signin-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    min-width: 100px;
    height: 35px;
    font-size: 1.1em;
    color: $green;
    cursor: pointer;

    &:hover {
      color: #617a55;
    }

    @media screen and (max-width: 500px) {
      right: 15px;
    }
  }

  .signup-button {
    background-color: #617a55;
    border-radius: 30px;
    min-width: 100px;
    height: 35px;
    font-size: 1.1em;
    color: white;
    border: 0;
    cursor: pointer;

    &:hover {
      background-color: #468847;
    }

    @media screen and (max-width: 500px) {
      right: 15px;
    }
  }
}
